
    {% extends 'base.html' %}
    {% block body %}
        {% load static %}
        <style>
            *{
            padding: 0;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            box-sizing:border-box;
        }
       
        table,th,td
{
    border-collapse: collapse;
  
}
table
{
    width: 100%;
    border-color: gray;
    background-color:rgba(0,0,0,.4);
}

th.a{
    text-align: center;
    width: 120px;
}
th
{
   
    border-top: 1.5px solid rgb(100, 107, 114);
    border-left: 1.5px solid rgb(100, 107, 114);
    border-bottom: 1.5px solid rgb(100, 107, 114);
    
    font-size: 13px;
    font-weight: lighter;
    padding: 6px;
    color:beige;
    
   
}

 td
{
    padding: 8px;
    font-size: 13px;
    text-align: center;
 
}
tfoot td.b{
    padding: 8px;
    font-size: 13px;
    text-align: left;
}
.btns{
    color: black;
    text-decoration: none;
    
  

}
.btns_prnt{
    width: 100%;
    text-align: start;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    /* padding: 6px; */

}
tbody tr:hover td{
    background-color:orange;
    color: rgb(15, 14, 14);
}
.btns_prnt:hover{
    background-color:orange;
    color: rgb(15, 14, 14);
}
tbody tr:hover td{
    background-color:orange;
    color: rgb(15, 14, 14);
}
    </style>

        
    <div style=" background-color:rgba(0,0,0,.4);">
        <h6 style="color: rgb(0, 0, 65); background-color: rgb(142, 211, 250);padding: 2px; height:3%;">Stock Item Monthly Summary</h6>
    <div style=" display:flex; height: 97%;">
    <div style=" width:100%;  height: 100%; ">
       
       
      
      

      <table>
        <thead>
        <tr>
            <th rowspan="4">Particulars </th>
            <th colspan="6" class="a" >ABC pvt.ltd<br>For 1-Apr-22</th>
        </tr>

    <tr> <th colspan="2"class="a" >Inwards</th>
        <th colspan="2"class="a" >Outwards</th>
        <th colspan="2"class="a" >Closing Balance</th></tr>
     <tr><th class="a" >Quantity</th><th class="a">Value</th>
        <th class="a" >Quantity</th><th class="a">Value</th>
        <th class="a" >Quantity</th><th class="a">Value</th></tr>   
         
    </thead>
    <tbody>
       




            
    </tbody>
    <tfoot>
        <tr style=" border-top: 1.5px solid rgb(100, 107, 114);">
            <td class="b">Grand Total</td>
            <td>{{ tpq }}</td>
            <td>{{ tpv }}</td>
            <td>{{ tsq }}</td>
            <td>{{ tsv }}</td>
            <td>{{ ttq }}</td>
            <td></td>
        </tr>
    </tfoot>
     </table>
    </div>
     </table>
    </div>
    
   
</div>
{% endblock %}